
footer {
    background-color: var(--primary-color);
    color: var(--backound-color);
    text-align: center;
    padding: 10px 0;
    font-size: 0.9rem;
    width: 100%;
    font-style: italic;
  }
  footer p {
    margin: 0;
  }
