<div class="item">
  <div class="filtros cabecalho">
    <span>Nome do Projeto</span>
    <span>Descrição</span>
    <span>Data de Início</span>
    <span>Data de Término</span>
    <span>Status</span>
    <span>Responsável</span>
  </div>
  <div *ngIf="projetos.length > 0; else noData">
    <div *ngFor="let projeto of projetos" class="filtros" (click)="openEditDialog(projeto)">
      <span>{{ projeto.projectName }}</span>
      <span>{{ projeto.description }}</span>
      <span>{{ projeto.startDate }}</span>
      <span>{{ projeto.endDate }}</span>
      <span>{{ projeto.status }}</span>
      <span>{{ projeto.responsible }}</span>
    </div>
  </div>
  <ng-template #noData>
    <p>Nenhum projeto encontrado.</p>
  </ng-template>
</div>
