.menuContainer {
  display: flex;
  width: 100%;
  background-color: var(--primary-color);
  padding: 10px 30px;
  position: fixed;
  z-index: 1000;
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu .logo a {
  font-size: 1.5rem;
  color: var(--backound-color);
  text-decoration: none;
  display: flex;
  margin: 0;
  padding: 0;
  padding-right: 8rem;
}
.menu .logo small {
  display: flex;
  align-items: flex-end;
  margin: 0;
  padding: 0;
}

.menu .links {
  display: flex;
  gap: 2rem;
}
.menu .links a {
  color: var(--backound-color);
  text-decoration: none;
  font-weight: 500;
}
.button {
  background-color: transparent;
  color: var(--backound-color);
  border: 1px solid var(--backound-color);
  padding: 10px 20px;
  border-radius: 2px;
  cursor: pointer;
  text-decoration: none;
}
.button:hover {
  background-color: var(--tertiary-color);
  border: 1px solid var(--tertiary-color);
  color: var(--backound-color);
  transition: 0.3s;
  
}
