<div class="menuContainer">
    <div class="max-width menu">
      <div class="logo">
        <a href="/">PIGGY<small>®</small></a>
      </div>
      <div class="links">
        <a href="/dashboard#suino">Suino +</a>
        <a href="/dashboard#minhaproducao">Minha produção</a>
        <a href="/dashboard#grafico">Grafico</a>
        <a href="/dashboard#historicopeso">Histórico do peso</a>
      </div>
      <div >
        <a href="/dashboard/manejo" class="button">Manejo Sanitário</a>
      </div>
    </div>
  </div>
