form .form-group input.ng-invalid.ng-touched {
  border-color: red;
}
form .form-group input.ng-valid.ng-touched {
  border-color: rgb(43, 189, 43);
}
form .form-group input.ng-valid.ng-touched + label {
  color: green;
}

.containerCadastro {
  width: 100%;
  height: 100%;
}

.containerCadastro .formCadastro {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.containerCadastro .formCadastro form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
}
form .form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}
form .form-group label {
  font-size: 1rem;
  color: var(--primary-color);
  font-family: "Bebas Neue", sans-serif;
}
form .form-group small {
  font-size: 0.8rem;
  color: red;
  font-style: italic;
}
form .form-group input,
select {
  padding: 0.5rem;
  border: none;
  border-bottom: 2px solid var(--primary-color);
  background: transparent;
}

form .form-group input:focus {
  outline: none;
  border-bottom: 2px solid var(--tertiary-color);
}

form button {
  padding: 0.5rem;
  background: var(--tertiary-color);
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  width: 15rem;
}

.formCadastro form button:hover {
  background: var(--tertiary-color);
}

.formCadastro {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.containerCadastro .group {
  display: flex;
  width: 100%;
  gap: 2rem;
}
.form-group select {
  padding: 0.5rem;
  border: none;
  border-bottom: 2px solid var(--primary-color);
}

.suinoplus {
  display: flex;
  flex-direction: row;
  padding: 70px 0px 30px 0px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.topico {
  font-size: 1.4rem;
  border-radius: 20px;
  color: var(--primary-color);
  text-align: center;
}
.suinoplus .item {
  width: 70%;
  border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;
  padding: 40px;
  background: var(--backound-color);
}
.item {
  align-items: center;
}
 
.filtros {
  display: flex;
  align-items: center;
  padding: 5px 30px;
  background: var(--backound-color);
  color: var(--primary-color);

}
.filtros span {
  cursor: pointer;
  flex: 1;
  text-align: center;
}

.filtros.cabecalho{
    background: var(--primary-color);
    font-weight: 600;
    color: white;
}

.tabela{
  display: flex;
  flex-direction: column;
  background: var(--background2-color);
}
.tabela .topico, .tabela select {
  color: var(--backound-color);
}
.tabela select{
  border-color: var(--backound-color);
  outline: none;
}
.tabela select option {
  background: white;
  color: var(--primary-color);
}
button {
  padding: 0.5rem;
  background: var(--tertiary-color);
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  width: 15rem;
  margin: 0 auto;
  margin-top: 20px;

}

.spacing{
  padding-block: 50px;
}
.tabela-wrapper{
  width: 100%;
  flex: 1;
  margin-block: 20px;
}

.tabela-wrapper .cabecalho:first-child{
  border-bottom: 1px solid white;
}
