.item {
  align-items: center;
}
 
.filtros {
  display: flex;
  align-items: center;
  padding: 5px 30px;
  background: var(--backound-color);
  color: var(--primary-color);

}
.filtros span {
  cursor: pointer;
  flex: 1;
  text-align: center;
}

.filtros.cabecalho{
    background: var(--primary-color);
    font-weight: 600;
    color: white;
}
