.containerCadastro{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.containerCadastro .banner{
    display: flex;
    flex-wrap: wrap;
    height: 50vh;
    background: #ffd7f0;

}

.containerCadastro .banner > div{
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerCadastro .banner  .square4{
    background: #bae;
}

.containerCadastro .banner  .square2{
    background: #b11a1a;
}

.containerCadastro .banner  .square3{
    background: #b11a1a;
}

.containerCadastro .banner  .square1{
    background: #bae;
}
.containerCadastro .banner  img{
    height: 70%;
}
.containerBanner{
    height: 100vh;
    max-height: 100vh;
    background: #ffd7f0;

}
.containerCadastro .slogan{
    display: flex;
    padding: 2rem 0;
    height: 50vh;
}
.containerCadastro .slogan .marca , .containerCadastro .slogan .benefits{
    width: 50%;
}
.containerCadastro .slogan .marca {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 1rem;
}
.containerCadastro .slogan .marca h1{
    font-size: 4rem;
    color: #b11a1a;
    margin: 0;
    padding: 0;
}   
.containerCadastro .slogan .marca h1 small{
    font-size: 1rem;
    padding: 0;
    margin: 0;
}
.containerCadastro .slogan .marca span{ 
    font-size: 0.8rem;
    color: #b11a1a;
}
.containerCadastro .slogan .benefits{
    display: flex;
    align-items: end;
    flex-direction: column;
    padding: 1rem;
    gap:2rem;
    justify-content: center;

}
.containerCadastro .slogan .benefits p{
    padding: 0;
    margin: 0;
    width: 20rem;
    font-size: 1.2rem;
    text-align: end;
    color: #b11a1a;
    font-family: "Bebas Neue", sans-serif;
}
