<div class="containerCadastro">
    <div class="containerBanner">
      <div class="banner">
        <div class="square1">
          <img src="../assets/img/image.png" alt="" />
        </div>
        <div class="square2">
          <img src="../assets/img/image.png" alt="" />
        </div>
  
        <div class="square3">
          <img src="../assets/img/image.png" alt="" />
        </div>
        <div class="square4">
          <img src="../assets/img/image.png" alt="" />
        </div>
      </div>
      <div class="slogan">
          <div class="marca">
              <h1>ProManage<small>®</small></h1>
              <span>Transforme seu jeito de gerenciar projetos!</span>
          </div>
          <div class="benefits">
              <p>Inovação e melhoria na gestão de projetos.</p>
              <p>Uma maneira mais eficiente e eficaz de administrar tarefas e colaborar com a equipe.</p>
          </div>
      </div>
    </div>
    <router-outlet style="display: none;"/>
  </div>
  