/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{--primary-color: #a71b1be7;
--tertiary-color: #b11a1a;
--background2-color:#f0f0f0;
--backound-color:#b11a1a;
font-family: 'Poppins', sans-serif;
box-sizing: border-box;


:root {
  --primary-color: #b11a1a;
  --background-color: #fff;
  --background2-color: #ffd7f0;
  --text-color: #b11a1a;
}
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.max-width {
  max-width: 1000px;
  width: 1000px;
  margin: 0 auto;
}

html{
  scroll-behavior: smooth;
  scroll-padding-top: 90px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
