.containerDasboard {
  background: #fff;
}
.containerDasboard .secao {
  min-height: 300px;
  width: 100%;
}
.containerDasboard .secaoProducao {
  background: var(--background2-color);
}
.suinoplus {
  display: flex;
  flex-direction: row;
  padding: 70px 0px 30px 0px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.topico {
  font-size: 1.4rem;
  border-radius: 20px;
  color: var(--primary-color);
  text-align: center;
}
.suinoplus .item {
  width: 70%;
  border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;
  padding: 40px;
  background: var(--backound-color);
}
.minhaProducao {
  padding: 20px 0px 30px 0px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: var(--backound-color);
}
.minhaProducao .topico {
  color: var(--backound-color9);
}
.acompanhamento {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.acompanhamento .busca {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 5px 30px;
  border: 2px solid var(--primary-color);
  border-radius: 20px;
}
.acompanhamento .busca img {
  width: 20px;
  height: 20px;
}
.acompanhamento .busca input {
  border: none;
  width: 100%;
  outline: none;
}

.grafico .item {
}

.grafico .results {
  display: flex;
  gap: 20px;
}
.grafico .results .item {
}
.grafico .results .desenho {
  background-color: var(--backound-color);
  border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;
  padding: 20px 0px;
  width: 60%;
}

.grafico .results .peso {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}
